//ローディングアニメーション
@import "common.scss";
.loading{
    &_img{
        position: absolute;
        margin: auto;
        width: 144px;
        height: auto;
    }
    &_container{
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        width: 200px;
        height: 200px;
        color: #fff;
        z-index: 9;
        &.is-loading {
            display: flex;
            position: fixed;
            width: 100%;
            height: 100vh;
            justify-content: center;
            align-items: center;
            top: 0;
            left: 0;
            background: #FFF;
            z-index: 10000;
        }
    }
}
.lds-ring{
    display: inline-block;
    position: relative;
    width: 21.6px;
    height: 21.6px;
    & div{
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 21.6px;
        height: 21.6px;
        border: 10.8px solid #ECBE56;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #ECBE56 transparent transparent transparent;
        &:nth-child(1){
            animation-delay: -0.45s;
        }
        &:nth-child(2){
            animation-delay: -0.3s;
        }
        &:nth-child(3){
            animation-delay: -0.15s;
        }
    }
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  