// リセットCSSなど
@import "common.scss";
@import "loading.scss";
*{
    vertical-align: baseline;
    margin: 0;
    transition: all 500ms 0s ease;
}
body {
    margin: 0;
    background-color: $background-color;
    width: 100%;
    overflow-x: hidden;
}
p{
    font-size: $text-size;
    font-family: $font-jp_standard;
    line-height: 1.7em;
    color: $black;
    &::selection {
        background-color: $primary-yellow;
        color: $primary-navy;
    }   
}
h1,h2,h3,h4,h5,h6{
    font-family: $font-jp_standard;
    &::selection {
        background-color: $primary-yellow;
        color: $primary-navy;
    } 
}
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: $font-en_standard;
    &:focus {
        outline:0;
    }
}
ul{
    padding: 0;
}
li{
    list-style: none;
    &::selection {
        background-color: $primary-yellow;
        color: $primary-navy;
    } 
}
a{
    &:link { 
        color: $black; 
        text-decoration: none;
    }
    &:visited { color: $black; }
    &:hover { 
        color: $black;
    }
    &:active { color: $black; }
}
header{
    width: 100%;
}
// グローバルナビ
.grobal-nav{
    z-index: 1000;
    position: fixed;
    background-color: $background-color;
    border-right: $primary-yellow 4px solid;
    top: 0;
    left: 0;
    width: $grobalnav-width - 20px;
    // border-right: solid 4px $primary-yellow;
    height: 100vh;
    transition: all 200ms 0s ease;
    padding: {
        left: 16px;
        top: 32px;
    }
    @media (max-width: $breakpoints_m){
        width: 100vw;
        box-sizing: border-box;
        height: $grobalnav-height;
        border: none;
        border-bottom: $primary-yellow 4px solid;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 4px 20px 0 20px;
    }
    @media (max-width: $breakpoints_s){
        position: absolute;
    }
    &_logo{
        cursor: pointer;
        width: 88px;
        height: auto;
        margin-bottom: 24px;
        padding-left: 8px;
        @media (max-width: $breakpoints_m){
            width: 44px;
            height: auto;
            margin: 0;
        }
    }
    &_container{
        @media (max-width: $breakpoints_m){
            display: flex;
        }
    }
    &_none{
        display: block;
        @media (max-width: $breakpoints_s){
            display: none;
        }
    }
    &_link{
        cursor: pointer;
        margin-bottom: 8px;
        @media (max-width: $breakpoints_m){
            &:not(:last-child) {
                margin: 0 16px 0 0;
            }
        }
        a{
            font-size: $text-size;
            font-family: $font-jp_decoration;
            color: $black;
            font-weight: bold;
            &:hover{
                background-color: $primary-yellow;
            }
            
        }
        &-container{
            margin-bottom: 24px;
            padding-left: 8px;
            @media (max-width: $breakpoints_m){
                display: none;
            }
        }
        &-top-container{
            margin-bottom: 24px;
            padding-left: 12px;
            li{
                a{
                    font-size: 20px;
                }
            }
            @media (max-width: $breakpoints_m){
                display: flex;
                margin: auto 0;
            }
            @media (max-width: $breakpoints_s){
                position: absolute;
                top: 70px;
                right: 20px;
            }
        }
    }
    &_works-link{
        cursor: pointer;
        &-container{
            @media (max-width: $breakpoints_m){
                display: none;
            }
            padding-left: 8px;
            margin-bottom: 8px;
            li{
                font-size: $text-size;
                font-family: $font-en_standard;
                color: $black;
                font-weight: normal;
                margin-bottom: 6px;
            }
        }
        a{
            &:hover{
                background-color: $primary-yellow;
            }
        }
    }
    &_allwork-button{
        cursor: pointer;
        background-color: $primary-navy;
        color: $white;
        border-radius: 44px;
        font-size: $text-size;
        font-weight: bold;
        font-family: $font-en_standard;
        box-sizing: border-box;
        height: 44px;
        padding: 0 22px;
        @media (max-width: $breakpoints_m){
            margin-left: 36px;
        }
        &:hover{
            background-color: $primary-yellow;
            color: $primary-navy;
        }
    }
}
// メインコンテンツ
main{
  margin-right: 0;
  margin-left: 140px;
  width: calc(100% - 140px);
  @media (max-width: $breakpoints_m){
    width: 100%;
    left: 0;
    padding: 0;
  }
}
// footer{
//     padding-left: $grobalnav-width;
//     width: 100%;
//     height: 100px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     border-top: solid 0.5px $text-gray;
// }
// .footer-text{
//     font-size: $text-size;
//     font-family: $font-en_decoration;
//     color: $text-gray;
// }