@import "setting.scss";
.header{
  &_container{
    width: 100%;
    height: 780px;
    background-image: url(../img/top.png);
  }
  &_logo_wrapper{
    position: absolute;
    margin: auto;
  }
}
.member{
  &_list{
    display: flex;
    flex-wrap: wrap;;
  }
  &_card{
    width: 30%;
    height: auto;
    box-sizing: border-box;
    padding: 32px 44px;
  }
  &_img{
    width: 100%;
    &-wrapper{
      width: 188px;
      height: auto;
    }
  }
}